#header-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
}

main {
  margin-top: 150px;;
  text-align: center;
}

.modal-dialog {
  margin-top: 145px;
}

.pokemon-img {
  width:128px;
  height: auto;
}

.pokemon-button-wrapper {
  margin: 5px 0;
  height:70px;
  min-width: 240px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  flex: auto;
}

.pokemon-button {
  font-size:20px;
  width:90%;
  height:100%;
}

.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #e50000 !important
  }

@media all and (min-width: 1400px) {
  .space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}